@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema de Cadastro de Clientes</h1>
    <p>Para efetuar o cadastro do cliente selecione o menu Clientes</a>.</p>
</div>
