@model CadastrodeClientes.Models.Cliente
@{
    ViewData["Title"] = "Cadastro de Cliente";
}

<h1>Cadastro de Cliente</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataNascimento" class="control-label"></label>
                <input asp-for="dataNascimento" class="form-control" />
                <span asp-validation-for="dataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sexo" class="control-label"></label>
                <select asp-for="sexo" asp-items="Html.GetEnumSelectList<Enumerador.sexo>()" class="form-control">
                    <option selected="selected" value="">Selecione</option>
                </select>
                <span asp-validation-for="sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cep" class="control-label"></label>
                <input asp-for="cep" id="cep" name="cep" class="form-control" />
                <span asp-validation-for="cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco"  class="control-label"></label>
                <input asp-for="endereco" id="endereco" name="endereco" class="form-control" />
                <span asp-validation-for="endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numero" class="control-label"></label>
                <input asp-for="numero" id="numero" name="numero" class="form-control" />
                <span asp-validation-for="numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complemento" class="control-label"></label>
                <input asp-for="complemento" id="complemento" name="complemento" class="form-control" />
                <span asp-validation-for="complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bairro" class="control-label"></label>
                <input asp-for="bairro" id="bairro" name="bairro" class="form-control" />
                <span asp-validation-for="bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cidade" class="control-label"></label>
                <input asp-for="cidade" id="cidade" name="cidade" class="form-control" />
                <span asp-validation-for="cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" id="estado" name="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
